/* Reset */
img {
    max-width: 100%;
}

:root {
    --blue: #2C3E50;
    --acqua: #1ABC9C;
    --white: #fff;

}

.wrapper-60 {
    width: 60%;
    margin: 0 auto;
}

/* debug */
div[class^=col] {
    background-color: lightcoral;
    min-height: 70px;
}

/* Header */
header {
    background-color: var(--blue);
}

/* Main */

/* Hero */
#hero {
    background-color: var(--acqua);
    min-height: 100px;
    color: var(--white);
    text-align: center;
}

/* Portfolio section */

/* About section */
#about {
    background-color: var(--acqua);
}


/* Footer */